version: '3.4'
services:
  notebook:
    build: .
    ports:
      - "${JUPYTER_PORT:-8886}:8888"  
    environment:
      - "JUPYTER_PASSWORD=${JUPYTER_PASSWORD:-nbpwd}"
      - "S3_ENDPOINT=${S3_ENDPOINT}"
      - "S3_ACCESS_KEY=${S3_ACCESS_KEY}"
      - "S3_SECRET_KEY=${S3_SECRET_KEY}"
    volumes:
      - .:/src/wcst_latents
      - $HOME/.aws/credentials:/root/.aws/credentials:ro
      - $HOME/.ssh/id_rsa:/root/.ssh/id_rsa

